<footer class="footer">
  <div class="grid-x">
    <div class="cell medium-10 medium-offset-1">
      <div class="grid-x footer-head">
        <div class="cell medium-5">
          <div class="footer-logo">
            <a>
              <img
                src="https://www.undp.org/sites/g/files/zskgke326/files/2022-04/undp-logo-white.svg"
                alt="Logo"
              />
            </a>
            <h5 class="" tabindex="0" data-viewport="false">
              {{ site.data.site_info.copyright_holder }}
            </h5>
          </div>
        </div>
      </div>
      <div class="grid-x grid-margin-x" data-accordion="mobile">
        <div class="cell medium-8">
          <div class="grid-x grid-margin-x footer-items">
            <div class="cell footer-item">
              <button
                type="button"
                id="footer-item-1"
                class="footer-heading desktop-event-none"
                tabindex="0"
                aria-controls="footer-panel-1"
                aria-expanded="false"
              >
                Who we are
              </button>
              <div
                id="footer-panel-1"
                class="footer-panel desktop-visible"
                aria-label="footer-item-1"
                aria-hidden="false"
                role="region"
              >
                <a
                  target="_blank"
                  class="footer-menu-item light"
                  href="{{ site.data.site_info.about_url }}"
                  >About Us</a
                >
                <a
                  class="footer-menu-item light"
                  href="https://www.undp.org/our-leadership"
                  >Leadership
                </a>
                <a
                  class="footer-menu-item light"
                  href="https://www.undp.org/executive-board"
                  >Executive Board</a
                >
                <a
                  class="footer-menu-item light"
                  href="https://www.undp.org/our-partners"
                  >Our Partners</a
                >
              </div>
            </div>
            <div class="cell footer-item">
              <button
                type="button"
                id="footer-item-2"
                class="footer-heading desktop-event-none"
                tabindex="0"
                aria-controls="footer-panel-1"
                aria-expanded="false"
              >
                What we do
              </button>
              <div
                id="footer-panel-1"
                class="footer-panel desktop-visible"
                aria-label="footer-item-1"
                aria-hidden="false"
                role="region"
              >
                <a
                  class="footer-menu-item light"
                  href="https://www.undp.org/sustainable-development-goals"
                >
                  Sustainable Development Goals
                </a>
                <a
                  class="footer-menu-item light"
                  href="http://hdr.undp.org/?_gl=1*1l01m84*_gcl_au*MTIxMDY4MTUyMi4xNzQ0MTA1MjQ1*_ga*MjA3NDA1NzgxNy4xNzEyMDA3Njgx*_ga_3W7LPK0WP1*czE3NDg0NTkzNjgkbzE3MCRnMSR0MTc0ODQ1OTkyNCRqNTgkbDAkaDA."
                >
                  Human Development Report
                </a>

                <a
                  class="footer-menu-item light"
                  href="https://www.undp.org/expertise"
                >
                  Our expertise
                </a>
              </div>
            </div>
            <div class="cell footer-item">
              <button
                type="button"
                id="footer-item-3"
                class="footer-heading desktop-event-none"
                tabindex="0"
                aria-controls="footer-panel-1"
                aria-expanded="false"
              >
                Our impact
              </button>
              <div
                id="footer-panel-1"
                class="footer-panel desktop-visible"
                aria-label="footer-item-1"
                aria-hidden="false"
                role="region"
              >
                <a
                  class="footer-menu-item light"
                  href="https://assets.undp.org/"
                >
                  Asset library
                </a>
                <a
                  class="footer-menu-item light"
                  href="https://www.undp.org/publications"
                >
                  Publications
                </a>
                <a
                  class="footer-menu-item light"
                  href="https://www.undp.org/results"
                >
                  Results
                </a>
              </div>
            </div>
            <div class="cell footer-item">
              <button
                type="button"
                id="footer-item-4"
                class="footer-heading desktop-event-none"
                tabindex="0"
                aria-controls="footer-panel-1"
                aria-expanded="false"
              >
                News
              </button>
              <div
                id="footer-panel-1"
                class="footer-panel desktop-visible"
                aria-label="footer-item-1"
                aria-hidden="false"
                role="region"
              >
                <a
                  class="footer-menu-item light"
                  href="https://www.undp.org/acceleratorlabs/news-updates"
                >
                  News center
                </a>
                <a
                  class="footer-menu-item light"
                  href="https://www.undp.org/stories"
                >
                  Stories
                </a>
                <a
                  class="footer-menu-item light"
                  href="https://www.undp.org/blog"
                >
                  Blogs
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="cell medium-4">
          <ul class="footer-links">
            <li><a href="{{ site.data.site_info.about_url }}">About Us</a></li>
            <li>
              <a href="{{ site.data.site_info.fraud_report_url }}"
                >Report Fraud, Abuse, Misconduct</a
              >
            </li>
            <li>
              <a href="{{ site.data.site_info.scam_alert_url }}">Scam Alert</a>
            </li>
            <li>
              <a href="{{ site.data.site_info.terms_of_use_url }}"
                >Terms Of Use</a
              >
            </li>
          </ul>
          <ul class="footer-icons">
            <li>
              <a
                href="{{ site.data.site_info.linkedin_url }}"
                class="linkedin"
                title="LinkedIn"
                >linkedIn</a
              >
            </li>
            <li>
              <a
                href="{{ site.data.site_info.instagram_url }}"
                class="instagram"
                title="Instagram"
                >instagram</a
              >
            </li>
            <li>
              <a
                href="{{ site.data.site_info.twitter_url }}"
                class="twitter"
                title="Twitter"
                >twitter</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright">
        <p tabindex="0">
          © {{ site.data.site_info.current_year }} {{
          site.data.site_info.copyright_holder }}
        </p>
      </div>
    </div>
  </div>
</footer>
